.purchase_wrapper {
  background-color: white;
  color: black;
}

.img_wrapper {
  width: 90%;
  max-width: 400px;
  min-height: 350px;
  border-radius: 12px;
  background-color: grey;
  margin: 16px auto; 
}
.nft_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 20px 30px;
}

.own_user {
  display:flex;
  flex-direction: row;
  align-items: center;
}

.own_userName {
  padding:0 0 0 12px;
  font-weight: 700;
  line-height: 1.5;
}

.own_title {
  padding:0 0 0 12px;
  font-weight: 700;
  line-height: 1.5;
  font-size: 14px;
}


.sale {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.bid_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.bid_expand_button {
  width: 80%;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: lightslategray;
  padding: 8px;
  border-radius: 100px;
}

.bid_button_expanded {
  max-width: 100%;
  width: 100%;
  border-radius: 0px;
}

.bid_expand_button .bid_Arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  margin-right: 20px;
  border-radius: 50%;
}

.bid_expand_button .bid_Arrow:hover {
  background-color: rgba(232, 236, 241, 0.4);
  transition: 0.25s;
}

.spacer {
  width: 24px;
  padding: 3px;
  margin-left: 20px;

}
.bid_form_wrapper {
  width: 100%;
  background-color: lightslategray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bid_form, .bid_form_info{
  width: 80%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.bid_form_info {
  padding: 10px 0 15px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.bid_confirm {
  width: 100%;
  text-align: center;
  padding: 10px 0 40px 0;
}

.line {
  width: 100%;
  border: 0.5px solid black;
  margin-top: 10px;
}

.info {
  white-space: pre-wrap;
}

.info > h2 {
  margin-bottom: 0;
  padding-bottom: 20px;
}

.user_Wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-width: 500px;
  padding: 20px;

}

.user_info {
  padding: 6px;
  text-align: center;
}

.user_name {
  font-size: 16px;
}

.user_percent {
  font-size: 26px;
  font-weight: 800;
}

.user_created {
  color: gray;
}

.user_avatar {
  max-width: 80px;
  max-height: 80px;
}

.royaltyList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.royalty_header {
  width: 100%;
  background-color: grey;
  padding: 8px;
  margin: 20px 0;
  font-weight: 900;
}
