.img_wrapper {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background-color: grey;
  margin: 20px auto; 
}

.nft_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 30px 20px 30px;
}

.purchase_Button {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.info {
  white-space: pre-wrap;
}

.user_Wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-width: 500px;
  padding: 20px;

}

.user_info {
  padding: 10px;
  text-align: center;
}

.user_name {
  font-size: 16px;
  padding: 5px;
}

.user_percent {
  font-size: 28px;
  font-weight: 800;
}

.user_created {
  color: gray;
}

.user_avatar {
  max-width: 300px;
}

.royaltyList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.royalty_header {
  width: 100%;
  background-color: grey;
  padding: 8px;
  margin: 20px 0;
  font-weight: 900;
}

.curr_user {
  display:flex;
  flex-direction: row;
  align-items: center;
}

.curr_userName {
  padding:0 0 0 10px;
}
