@import './MarketplaceLogo.scss';
@import './Login.scss';
@import './Profile.scss';
@import './EditProfile.scss';
@import './Avatar.scss';
@import './NFTList.scss';

html,
body {
  padding: 0;
  margin: 0;
  //font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  // From existing site
  background-color: black;
  color: white;
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 40px;
  max-width: 960px;

  & > * {
    width:100%;
  }

  & > header {
    text-align: center;
  }
}

form {
  display: flex;
  flex-direction: column;

  width: 100%;

  & > div  {
    margin: 1em 0;
    display: flex;
    justify-content: space-around;

    .form-control {
      display:  inline-flex;
      flex-direction: row;

      .form-input {
        width:100%;
        margin: 0 1em;
      }
    }
  }
}

.error.page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* height: 500px; */
  text-align: center;
}
