.formControl {
  width: 80%;
}

.input {
  background: white !important;
  color: black !important;
  border-radius: 12px !important;
  border: 0 !important;
  border-bottom: 0px !important;
  height: 3rem;
}
