.home_wrapper {
  width:100%;
}

.carousel_wrapper {
  width:calc(100% - 40px);
  height:250px;
  background-color: grey;
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
