
.profile.page {
  .image-wrapper {
    cursor: pointer;
    display: flex;
    align-items: center;

    input[type="file"] {
      display: none;
    }
  }

  form .form-control {
    justify-content: space-evenly;
  }
}
