.page.wallet {
  .main-wrapper {
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    justify-content: space-between;
    /* height: 100%; */
    min-height: 95vh;
    .hero {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .money {
        font-size: 34px;
      }
    }

    .buttons {
      .button-bar {
        display: flex;
        justify-content: center;

        button {
          margin: 0 1em;
        }
      }
    }
  }
}

.wallet {
  .paper-wrapper {
    & > * {
      padding: 15px;
      display: -moz-box;
      display: flex;
      justify-content: flex-start;
      /* min-height: 105px; */
      height: 70vh;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      flex-direction: column;
      & > * {
        margin-bottom: 2em;
      }
    }

    .transfer-title {
      margin: 5px 0;
    }


    .transaction {
      display: flex;
      justify-content: space-between;
      & > div {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .transaction-image {
        width: 100px;
        .green-dot {
          display: block;
          background: green;
          height:  25px;
          border-radius: 25px;
          width: 25px;
        }
      }
      .transaction-text  {
        width: 100%;
        flex-direction: column;
        align-items:flex-start;
        .date {
          font-size: 0.75em;
        }
      }

      .transaction-amount {
        width: 100px;

        .sign-credit::before {
          content:  '+';
          margin: 0 5px;
        }

        .sign-debit::before {
          content:  '-';
          margin: 0 5px;
        }
      }
    }
  }
}
